name: Build and Deploy to Azure

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout Github Action'
        uses: actions/checkout@v4

      - name: 'Build and tag image locally'
        run: |
          # We hardcode 'jaipatel' as lowercase to satisfy Docker
          docker build -t jaipatel/bank-api:latest ./backend/bank-api
          
      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'forecast-financial' 
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          images: 'jaipatel/bank-api:latest'
