name: Build and Deploy to Azure

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout Github Action'
        uses: actions/checkout@v4

      - name: 'Log in to GitHub Container Registry'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: 'Build and Push to GHCR'
        run: |
          # CHANGE THIS: Replace 'jaipatel31' with your actual lowercase GitHub username
          docker build -t ghcr.io/jaipatel31/bank-api:latest ./backend/bank-api
          docker push ghcr.io/jaipatel31/bank-api:latest

      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'forecast-financial' 
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          images: 'ghcr.io/jaipatel31/bank-api:latest'
